button{
          background:rgba(0,0,0,0.3);
          width:7.2%;
          height:95px;
		  border-radius: 20px;
} 
button:hover {
          background:rgba(0,0,0,0.95);
          cursor: pointer;
          box-shadow: 0px 0px 30px 30px #0d3971;
          border-radius: 20px;
}
button img{
          width:100%;
}

		.bg {
		  background-image: url("img.jpg");
		  background-size:100%;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}





 
   
    
